#This file is used for InfraSIM OpenIPMI configuration file


[main]
#Supported vnode names:
#	quanta_d51
#	quanta_t41
#	dell_c6320
#	dell_r630
#	s2600kp
#	s2600tp
#	s2600wtt
node=quanta_d51

#IPMI address will bind to this bmc_network name.
#You can set network name to bmc_network, this name would be
#	lo, eth0, eth2, eth3, ...	-- traditional network name
#	virbr0, docker0, lxdbr0, ...	-- Linux container/hypervisor bridge network
#	enp0sx,	...			-- new network name
#
bmc_network=enp0s5


[node]
#Set node cpu num, the default value is 4
#
#vcpu_num=4

#Set node cpu type, the default value is Haswell
#Supported vcpu_type:
#	core2duo:  Intel(R) Core(TM)2 Duo CPU     T7700  @ 2.40GHz
#	coreduo:   Genuine Intel(R) CPU           T2600  @ 2.16GHz
#	Nehalem:   Intel Core i7 9xx (Nehalem Class Core i7)
#	Westmere:  Westmere E56xx/L56xx/X56xx (Nehalem-C)
#	SandyBridge:  Intel Xeon E312xx (Sandy Bridge)
#	IvyBridge:  Intel Xeon E3-12xx v2 (Ivy Bridge)
#	Haswell:  Intel Core Processor (Haswell)
#	Broadwell:  Intel Core Processor (Broadwell)
#vcpu_type=Haswell

#Set node if bootup using PXE
#
#pxeboot=no


#Set node memory size, the unit is MB.
#The default vaule is 512MB
#
#mem_size=512

#Set node disks num, the default is 1
#
#disk_num=1

#Set node disk size, the unit is GB.
#The default value is 8GB
#
#disk_size=8

#Set node network mode for qemu. The options shuld be:
#	nat		--default
#	bridge		--optional
#network_mode=nat

#If you use bridge mode, please specify the network_name
#network_name=ens33

#Set qemu mac num, the default is 1
#
#qemu_mac_num=1

#Set qemu mac address. The number of non-null address is identical to the qemu_mac_num.
#Please don't touch below qemu mac address list. Thet are set automatically by program.
#
qemu_mac0=null
qemu_mac1=null
qemu_mac2=null
qemu_mac3=null
qemu_mac4=null
qemu_mac5=null
qemu_mac6=null
qemu_mac7=null
