# Unique identifier
name: node-1

# Node type is mandatory
type: quanta_d51

compute:
    kvm_enabled: true
    numa_control: true
    cpu:
        model: host
        features: +vmx
        quantities: 8
    memory:
        size: 4096
    storage_backend:
        -
            controller:
                type: ahci
                max_drive_per_controller: 6
                drives:
                -
                    model: SATADOM
                    serial: HUSMM142
                    bootindex: 1
                    # To boot esxi, please set ignore_msrs to Y
                    # sudo -i
                    # echo 1 > /sys/module/kvm/parameters/ignore_msrs
                    # cat /sys/module/kvm/parameters/ignore_msrs
                    file: chassis/node1/esxi6u2-1.qcow2
                -
                    vendor: Hitachi
                    model: HUSMM0SSD
                    serial: 0SV3XMUA
                    # To set rotation to 1 (SSD), need some customization
                    # on qemu
                    # rotation: 1
                    # Use RAM-disk to accelerate IO
                    file: /dev/ram0
                -
                    vendor: Samsung
                    model: SM162521
                    serial: S0351X2B
                    # Create your disk image first
                    # e.g. qemu-img create -f qcow2 sda.img 2G
                    file: chassis/node1/sda.img
                -
                    vendor: Samsung
                    model: SM162521
                    serial: S0351X3B
                    file: chassis/node1/sdb.img
                -
                    vendor: Samsung
                    model: SM162521
                    serial: S0451X2B
                    file: chassis/node1/sdc.img
    networks:
        -
            network_mode: bridge
            network_name: br0
            device: vmxnet3
        -
            network_mode: bridge
            network_name: br0
            device: vmxnet3
    ipmi:
        interface: bt
        host: 127.0.0.1
    smbios: chassis/node1/quanta_d51_smbios.bin
bmc:
    interface: br0
    username: admin
    password: admin
    emu_file: chassis/node1/quanta_d51.emu

# Renamed from telnet_listen_port to ipmi_console_port, extracted from bmc
ipmi_console_port: 9000

# Used by ipmi_sim and qemu
bmc_connection_port: 9100

# Used by socat and qemu
serial_port: 9003
