Disk.Direct.5-3:AHCI.Embedded.2-1
   Status                           = Unknown
   DeviceDescription                = Disk 3 on Embedded AHCI Controller 2
   RollupStatus                     = Unknown
   Name                             = Solid State Disk 5:3
   State                            = Non-Raid
   OperationState                   = Not Applicable
   PowerStatus                      = Spun-Up
   Size                             = 59.63 GB
   FailurePredicted                 = NO
   RemainingRatedWriteEndurance     = Unavailable
   SecurityStatus                   = Not Capable
   BusProtocol                      = SATA
   MediaType                        = SSD
   UsedRaidDiskSpace                = 0.00 GB
   AvailableRaidDiskSpace           = 0.00 GB
   Hotspare                         = NO
   Manufacturer                     =
   ProductId                        = SATADOM ML 3SE
   Revision                         = {{ satadom.version }}
   SerialNumber                     = {{ satadom.serial }}
   PartNumber                       =
   NegotiatedSpeed                  = 12.0 Gb/s
   ManufacturedDay                  = 255
   ManufacturedWeek                 = 32
   ManufacturedYear                 = 1962
   SasAddress                       = Not applicable
   FormFactor                       = 2.5 Inch
   RaidNominalMediumRotationRate    = 256
   T10PICapability                  = Not Capable
   BlockSizeInBytes                 = 512
   MaxCapableSpeed                  = 6 Gb/s
   SelfEncryptingDriveCapability    = Not Capable
